version: 2.0.{build}
image: Visual Studio 2017
init:
  - git config --global core.autocrlf true
skip_tags: true
configuration:
- Release
before_build:
  - cmd: dotnet restore
  - ps: .\prebuild.ps1
build:
  verbosity: minimal
before_test:
  - cmd: mkdir %APPVEYOR_BUILD_FOLDER%\reports\coverage\history
  - cmd: cd %APPVEYOR_BUILD_FOLDER% && nuget install OpenCover -ExcludeVersion -OutputDirectory tools
  - cmd: cd %APPVEYOR_BUILD_FOLDER% && nuget install xunit.runner.console -ExcludeVersion -OutputDirectory tools
test_script:
  - cmd: cd %APPVEYOR_BUILD_FOLDER%\zxcvbn-core-test && set APPVEYOR_API_URL= && ..\tools\OpenCover\tools\OpenCover.Console.exe -target:"%programfiles%\dotnet\dotnet.exe" -targetargs:"xunit -noShadow -xml test-results.xml" -register:user -output:"..\reports\coverage\coverage.xml" -skipautoprops -filter:"+[zxcvbn-core*]* -[zxcvbn-core-test]*"  -excludebyattribute:*.ExcludeFromCodeCoverage* -mergebyhash -returntargetcode -oldStyle
after_test:
  - ps: cd %APPVEYOR_BUILD_FOLDER%
  - ps: .\upload-results.ps1
  - cmd: cd %APPVEYOR_BUILD_FOLDER% && tools\coveralls.io\tools\coveralls.net.exe --autodetect reports\coverage\coverage.xml
environment:
  COVERALLS_REPO_TOKEN:
    secure: iSoNwLqIwwMN/WHRx1cV7varflDclJFbg9SGrPrBzGYHJrMTXuk+h8hWfHajvaH/
artifacts:
- path: '**\*.nupkg'
deploy:
- provider: NuGet
  on:
    branch: master
  api_key:
    secure: 5mSnG9xdZ10yKDFhtI0w8p6aaj0m5ULQvVwlSGuzR2/D6LjQftisSQo3J6DYvZfw
  skip_symbols: false
  artifact: /.*\.nupkg/
- provider: GitHub
  release: zxcvbn-cs-v$(appveyor_build_version)
  description: $(appveyor_repo_commit_message)
  auth_token:
    secure: jtEqWpP0mI7h+Bapo8DhdJDSQxUV60pDwfQqLdFZqpHV4LqcCEmrcTmNMf6pu9bl
  artifact: /.*\.nupkg/
  draft: false
  prerelease: false
  on:
    branch: master